<div class="spinner input-group"
     ng-form="itemForm">
    <input type="text"
           value="{{value}}"
           class="input-sm form-control spinner-input loh"
           name="spinner">

    <div class="btn-group btn-group-vertical input-group-btn">
        <button type="button" class="btn btn-white spinner-up">
            <i class="icon-chevron-up"></i>
        </button>
        <button type="button" class="btn btn-white spinner-down">
            <i class="icon-chevron-down"></i>
        </button>
    </div>
</div>