<div ng-show="phase == 0">
    <h1 class="m-t-none text-center font-normal">
        <div ng-hide="selectedService">Электронная очередь</div>
        <div ng-show="selectedService" style="font-size: 45px; line-height: 1.5em">{{selectedService.FullName || selectedService.Name}}</div>
    </h1>

    <div class="m-t-lg2 m-l-lg m-r-lg" >

        <menu items="menu"
              selected-service="selectedService"
              to-queue-method="toQueueMethod"
              record-method="recordMethod"
              button-states="footer.states"></menu>

    </div>
</div>
<div  ng-show="phase == 1">
    <month-schedule current-date="currentDate"
                    click-event="dayClick"
                    schedule="monthSchedule"></month-schedule>
</div>

<div id="day-schedule"
     ng-show="phase == 2"
     class="scroll-container">
    <day-schedule current-date="currentDate"
                  click-event="timeClick"
                  schedule="daySchedule"></day-schedule>
</div>