<h1 class="m-t-none text-center font-normal">Выбранные услуги</h1>

<div style="width: 700px; margin: 0 auto">

    <!--<scroll-bar class="m-t-lg2 ">-->
        <div class="ticket-product m-t-lg">

            <div class="item">
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

            <div class="item">
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

            <div class="item">
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

            <div class="item">
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

            <div class="item" >
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

            <div class="item">
                <div class="date text-center">24 октября<br>10:30</div>
                <div class="info">Назначение и выплата ежемесячного пособия по уходу за ребенком (ФСС)</div>
                <div class="cancel text-center"><a href="">Отменить</a></div>
            </div>

        </div>
    <!--</scroll-bar>-->
</div>