<div class="row">

    <div class="col-xs-4 text-left">
        <button class="os-btn a-btn a-l red l-btn multiline big m-t-sm m-l-lg"
                ng-click="footer.actions.cancelAll()">
            <div class=" text-center">Отменить<br>всё</div>
        </button>
    </div>

    <div class="col-xs-4 text-center">
        <button class="os-btn  m-t-sm l-btn big multiline"
                ng-show="settings.settings.allowMultitickets.value"
                ng-click="footer.actions.addNew()">
            <div class=" text-center">Добавить<br>операцию</div>
        </button>
    </div>

    <div class="col-xs-4 text-right">
        <button class="os-btn a-btn a-r multiline m-t-sm l-btn m-r-lg big"
                ng-click="footer.actions.printTicket()">
            <div class=" text-center">Напечатать<br>талон</div>
        </button>
    </div>

</div>
