<div>
    <div style="position: absolute; min-width: 900px;  width: 100%;">
        <button class="os-btn blue a-btn a-l m-t-sm big pull-left m-l-lg"
                ng-click="prevMonth()"
                ng-disabled="!isEnabledBackMonthButton()">
            <div class="text-center">{{prevMonthLabel}}</div>
        </button>

        <button class="os-btn blue a-btn a-r m-t-sm big pull-right m-r-lg"
                ng-click="nextMonth()"
                ng-disabled="!isEnabledNextMonthButton()">
            <div class="text-center">{{nextMonthLabel}}</div>
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="calendar" style="min-width: 900px; max-width: 1100px; margin: 0 auto"></div>
</div>